@using System.Net.Http
@using Microsoft.AspNetCore.Blazor.Browser.Http
@using News.Client.Models
@using Newtonsoft.Json
@page "/"
@inject HttpClient Http


<button onclick=@(async () => await PrintWebApiResponse())>Print Web API Response</button>

@functions {
    private async Task PrintWebApiResponse()
    {
        var http = new HttpClient(new BrowserHttpMessageHandler())
        {
            BaseAddress = new Uri("http://localhost:5000/api/")
        };
        var res = await http.GetAsync("News");

        var response = await res.Content.ReadAsStringAsync();

        //var jsonRes = JsonConvert.DeserializeObject<NewsViewModel>(response);

        Console.WriteLine(response);
    }
}

<h1>All News</h1>
<br />
