@using System.Net.Http
@using Microsoft.AspNetCore.Blazor
@using Microsoft.AspNetCore.Blazor.Browser.Http
@using News.Client.Models
@using Newtonsoft.Json
@page "/"
@inject HttpClient Http


<button onclick=@(async () => await PrintWebApiResponse())>Print Web API Response</button>

@functions {

    public NewsViewModel[] News { get; set; }

    protected async Task OnInitAsync()
    {
        await PrintWebApiResponse();
    }
    
    private async Task PrintWebApiResponse()
    {
        var http = new HttpClient(new BrowserHttpMessageHandler())
        {
            BaseAddress = new Uri("http://localhost:5000/api/")
        };
        News = await http.GetJsonAsync<NewsViewModel[]>("News");

        foreach (var model in News)
        {
            Console.WriteLine(model.Title);
        }
    }
}

<h1>All News</h1>
<br />
